@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Pathway+Extreme:opsz,wght@8..144,300;8..144,400;8..144,500&display=swap');

*{
    font-family: 'Albert Sans', sans-serif;   
    color: #216262;
}

body, .container{
    background: linear-gradient(rgb(0 209 178 / 39%), #fffefa);
}

.navbar{
    border-radius: 10px;
    background-color: rgb(255 255 255 / 0%);
    border: 1px solid #94d1c8;
}

.navbar-menu{
    border-radius: 10px;
}

.title, .subtitle, .label{
    color: #478383;
}

.title.is-5{
    font-family: 'Pathway Extreme', sans-serif;
    
}

.box{
    background-color: #ffffff47;
    border: 1px solid rgb(0 0 0 / 9%);
}

.emotion-list {
    list-style-type: none;
}

.emotion-img{
    height: 64px;
}

a.navbar-item.pag:hover{
    background-color: #a4dad2d4;
    color: #f1ede3;
}